html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

#KingstonContainer {
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#MontegoBayContainer {
    float: left;
    width: 50%;
    padding: 0px;
    margin: 0px;
    height: 100%;

    
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(233, 32, 32);
}