html, body {
    height: 100%;
    margin: 0;
    background-color: lightskyblue;
}
h1 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);

}
.full-height {
    height: 100%;
}

.day {
    border-bottom: 2px white solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
      float: left;
      width: 33.33%;
      padding: 15px;
  }
/*#KingstonContainer {
    width: 50%;
    float: left;
    padding: 1px;
    margin: 0px;
    border-right: 1px solid white;
    height: 100%;
}
#MontegoBayContainer {
    float: left;
    width: 50%;
    padding: 0px;
    margin: 0px;
    border-left: 1px solid white;
    height: 100%;
}*/

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

#KingstonDescription {
    font-size: 18px;
}

